# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# simpleCovが生成するcoverageディレクトリ
/coverage

# vendor/bundle以下にbundle installするため
/vendor/bundle

# .env
.env

# rubymineの設定ファイル
.idea/

# vscodeの設定ファイル
.vscode/
