-#= form_for ['mentor', @knowledge], remote: true, format: 'json' do |f|
-#  = f.text_field :title, placeholder: 'title'
-#  = f.text_area :content, cols: "100", row: '100'
-#  = f.submit '送信'
-#  = f.submit 'ajax', id: 'ajax'
-##preview
-#  = parse_markdown("#{@text}")
-#
-#%p
-#  fasdflkjlkaj
