= form_tag('/mentor/knowledges', method: :post) do
  %input{type: "text", placeholder: "title", name: "title"}
  %textarea{colos: "100", row: "100", name: "content"}
  %input{type: "submit", value: "SENT"}